@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

*{
    margin:auto;
    box-sizing:border-box;
    font-family: 'PT Serif', serif;
}
.bordura{
    border:2px solid red;
}
#novosti{
    text-align: center;
    background-color:#EB5E28;
    border-radius: 2px;
    padding:7px 0px;
    color:#fff;
}
header{
    overflow:hidden ;
    background-color:#fff;
    padding:7px 0px;
}
#meni{
    position: sticky;
    top:0%;
    z-index:1;
    text-align: center;
    border-bottom: #EB5E28 2px solid;
    border-top: #EB5E28 2px solid;
    background-color: #fff;
    padding:10px 0px;
    overflow: hidden;
    color:#252422;
    border-radius: 2px;
    width:90%;
   
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    display: inline; 
}
nav ul li a{
    text-decoration: none;
    font-size:20px;
    color:#252422;
    margin:0px 10px;
    font-weight: bold;
}

.dodatHover{
    background-color: #EB5E28;
    padding:5px;
    color:#fff;
    border-radius: 3px;
}
#ikonicaHamburger{
    display: none;
}
#slika{
    width:15%;
    height:100px;
}
#pretragaKnjiga{
    width:50%;
    align-items: center;
    margin:auto 0px;
    position:relative;
}
#pretragaKnjiga input[type=search]{
    padding:10px 5px;
    border-radius:5px;
    text-align: left;
    width:90%;
}
.fa-search{
margin-left:10px;
}
.navigacija ul{
    padding:0px;
}
.icon{
    display: none;
    color:#252422;
}
#dodatneStavke{
    width:12%;
    position: relative;
    text-align: center;
}
#stanje{
    width:100%;
    background-color:#fff;
    border:2px solid #818078;
    border-radius: 5px;
    border-style: inset;
    padding:5px;
    margin-top: 5px;
    display: none;
}
.font{
    font-size:27px;
    margin-right:5px;
    color:#252422;
}
i.vid{
    display: none;
}
hr{
    width:90%;
    margin:25px auto;
}
.hr-tekst{
    position:relative;
    line-height: 1em;
    outline:0;
    border:0;
    color:#252422;
    text-align: center;
    height:1.5em;
    opacity: 5;
}
.hr-tekst:before{
    content:' ';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
.hr-tekst:after{
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .7em;
    line-height: 1.3em;
    color:#818078;
    background-color:#fff;
    font-size:18px;
}
.sirina{
    width:90%;
    margin:0px auto;
}
.slajder {
    width:90%;
    margin:0px auto;
    margin-bottom: 30px;
}
.knjiga{
    width:50%;
}
.knjiga img{
    width:70%;
    height:37vh;
} 
#dodaj{
    display: none;
}

#baner{
     width:90%;
     height:600px;
     margin:0px auto;
     background-image: url(../img/Untitled\ design.png);
     background-size:cover;
     background-position: center;
     position:relative;
     border-radius: 2px;
}
#tekstUnutraSlike{
     position:absolute;
     width:50%;
     color:#fff;
     text-align: center;
     top:40%;
     left:10%;     
}
.margina{
    margin-bottom: 20px;
}
.gornja{
    margin-top: 30px;  
}
#upit{
    text-align: left;
}
.linija{
    color:#252422;
  text-shadow: 2px 3px #818078;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.linija ::after{
    content: "";
    display: block;
    margin: 0px auto;
    width: 10%;
    height: 2px;
    background-color:#252422;
    animation-name: proba;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.region{
    width:100%;
    margin-bottom: 50px;
}
.region2{
     width:100%;
}
.artikl{
    width:20%;
    text-align: center;
    padding: 10px 0px; 
    
}
.artikl img{
    width:70%;
    
}
.pojava{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.pojava.active{
    transform: translateY(0px);
    opacity: 1;
}
span p{
    font-weight: bold;
    margin:5px 0px;
    border-bottom: 2px solid #EB5E28;
}
p span{
    border-bottom: 2px solid #EB5E28;
}
.dugme{
    padding:8px;
    background-color: #EB5E28;
    border:#EB5E28 solid 2px;
    border-radius: 5px;
    border-style: inset;
    color:#fff;
    font-weight: bold;
    margin-top: 10px;
}

.blok1{
   width:47%;
   position: relative;
   border:5px solid;
   border-style: outset;
   border-radius: 5px;
   padding: 40px 30px;
   text-justify:inter-word;
   box-shadow: -40px -20px #EB5E28;
   margin-right: 6%; 
}
.blok1 p{
    margin-bottom: 15px;
    font-size: 18px;
}
.blok1 h3{
    margin-bottom: 10px;
    font-size: 21px;
}
#blokSaSlikom{
   width:45%;
   text-align: center;
   position: relative;
   margin-top: 20px;
  
}
#blokSaSlikom img{
    width:50%;
    border-radius: 5px;
    box-shadow: -40px -20px rgba(37, 36, 34, 0.9);
    
}
#oAutoru{
    border-bottom:15px solid #EB5E28;
    border-right:15px solid #EB5E28;
    border-style: outset;
    border-radius: 5px;
    margin-bottom: 80px;
    padding:30px 0px;
    z-index: -1;
}
#kontakt{
    border-top:#EB5E28 10px solid;
    border-left:#EB5E28 10px solid;
    border-radius: 5px;
    border-style: inset;
    margin-bottom: 40px;
    padding:30px 0px;
}
#porudzbina{
    padding: 2% 8%;
    border-top:10px solid ;
    border-bottom:10px solid ;
    border-radius: 5px;
    border-style: outset;
    text-align: center;
    width:40%;
}
#porudzbina input[type=text]{
    margin-bottom: 5px;
    padding:10px 10px;
    width:100%;
    border-radius: 5px;
}
#porudzbina select[id=placanje]{
    margin-bottom: 5px;
    padding:10px 10px;
    width:100%;
    border-radius: 5px;
}
#porudzbina input[type=button]{
    margin-top: 10px;
    padding:10px 10px;
    width:50%;
    border-radius: 5px;
    background-color: #EB5E28;
    border:#EB5E28 solid 2px;
    border-radius: 5px;
    border-style: inset;
    color:#fff;
}
#porudzbina input[type=radio]{
    margin-bottom: 10px;
    margin-left:5px ;
}
#porudzbina label{
    margin-bottom: 10px;
}
form{
    margin-top: 30px;
}
#porudzbina p{
    margin-bottom: 5px;
}
#poruka{
    border-top:10px solid ;
    border-bottom:10px solid ;
    border-radius: 5px;
    border-style: outset;
    padding:2% 5%;
    text-align: center;
    width:35%;
}
#poruka input[type=text]{
    margin-bottom: 10px;
    padding:10px 10px;
    width:100%;
    border-radius: 5px;
}
#poruka input[type=button]{
    margin-top: 10px;
    padding:10px 10px;
    width:50%;
    border-radius: 5px;
    background-color: #EB5E28;
    border:#EB5E28 solid 2px;
    border-radius: 5px;
    border-style: inset;
    color:#fff;

}
#vasaPoruka{
    width:100%;
    height:100px;
}
#ispis{
    text-align: left;
    margin-top: 10px;
    color:green;
}
#ispis ul li {
    list-style: none;
}
footer{
    text-align: center;
    background-color:#EB5E28;
    padding:30px 0px;
    color:#fff;
    border-radius: 2px;
}

.deo{
    text-align: center;
}
.deo p i {
    font-size: 18px;
}
.deo a{
    color:#fff;
    text-decoration: none;
}
.deo a i{
    font-size:23px;
    margin-top: 10px;
    margin-left: 5px;
    color:#fff;
}
.sakriP{
    display:none;
}
.font p{
    font-size:10px;
}
.odalji{
    margin-top:15px;
    padding:6px;
}
@keyframes proba {
    10% {
      width: 50px;
    }
    60% {
      width: 160px;
    }
    100% {
      width: 50px;
    }
}

@media screen and (max-width:1442px){
    
}
@media screen and (max-width:1026px){
    #baner{
        background-size: contain;
        background-repeat: no-repeat;
        height:500px;
    }
    #tekstUnutraSlike{
        font-size:12px;
    }
    nav{
        width:90%;
    }
    #poruka{
        padding:6% 5%;
        width:40%;
    }
    .artikl{
        width:23%;
    }
    .blok1 {
        width: 45%;
        margin-right: 5%;
        box-shadow: -30px -20px #EB5E28;
    }
    .knjiga img {
        width: 90%;
    }
}
@media screen and (max-width:769px){
    nav{
        width:90%;
    }
    #slika{
        width:20%;
    }
    #baner{
        height:400px;
    }
    #tekstUnutraSlike{
        font-size:10px;
        top:35%;
    }
    .margina{
        margin-bottom: 10px;
    }
    nav ul li a{
        font-size:15px;
    }
    .vid i{
        font-size:22px;
    }
    #novosti{
        font-size:13px;
    }
    .hr-tekst:after{
        font-size:15px;
    }
    .blok1{
        width:100%;
    }
    #blokSaSlikom{
        width: 100%;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    #blokSaSlikom img{
        width:65%;
        margin-left: 12%;
    }
    #porudzbina, #poruka{
        width:45%;
    }
    #poruka{
        padding:8% 5%;
    }
    .knjiga img {
        width: 80%;
    }
    .artikl h3{
        font-size:13px;
    }
    .artikl h4{
        font-size:13px;
    }
    .artikl{
        width:22%;
    }
    .blok1 {
        width: 80%;
        margin-right: 3%;
        margin-left: 3%;
        box-shadow: -30px -20px #EB5E28;
    }
    .blok1 p{
        font-size: 16px;
    }
    .blok1 h3{
        font-size: 19px;
    }
   
}
@media screen and (max-width: 500px) { 
    
    #baner{
        width:100%;
        text-align: center;
    }
    .d-flex{
        display:block;
    }
    #novosti{
        width:100%;
    }
    .navigacija{
        width:100%;
        padding:20px 0px;
    }
    #pretragaKnjiga input[type="search"]{
        width:89%;
        margin-top:10px;
    }
    #pretragaKnjiga{
        width:100%;
    }
    #dodatneStavke{
        width:100%;
    }
    #dodatneStavke{
        width:100%;
        margin:10px 0px;
    }
    
}

@media screen and (max-width:426px){
    #meni{
        position:relative;
        position: sticky;
        top:0%;
        z-index:1;
    }
    #ikonicaHamburger{
        display: block;
    }
    .aLinkoviMenia{
        display: block;
        text-align:center;
        margin-bottom: 5px;
    }
    header{
        padding:10px 5px;
    }
    #meni{
        width:100%;
    }
    #slika{
        width:40%;
    }
    nav  a{
        display: none;
    }
    #baner{
        height:200px;
        width:100%;
    }
    #tekstUnutraSlike{
        font-size:7px;
        top:30%;
    }
    .margina{
        margin-bottom: 5px;
    }
    nav ul li a{
        font-size:18px;
    }
    #novosti{
        font-size:14px;
    }
    .hr-tekst:after{
        font-size:17px;
    }
    #pretragaKnjiga input[type="search"]{
        font-size:12px;
    }
    
    .artikl{
        width:70%;
    }
    .artikl h3{
        font-size: 19px;
    }
    .artikl h4{
     font-size: 17px;
    }
    #porudzbina, #poruka{
        width:90%;
    }
    #porudzbina{
        margin-bottom: 30px;
        padding:8% 5%;
    }
    .blok1{
        width:80%;
        box-shadow: -30px -20px #EB5E28;
        margin-left:15%;
    }
   
    #meniDonji{
        text-align: center;
    }
    .deo{
        margin-bottom: 30px;
    }
    .blok1 p{
        font-size: 15px;
    }
    .blok1 h3{
        font-size: 18px;
    }
    .knjiga img {
        width: 90%;
    }
   
    
}
@media screen and (max-width:376px){
    .knjiga img {
        width: 80%;
    }
}
@media screen and (max-width:325px){

    #pretragaKnjiga input[type="search"]{
        width:89%;
        margin-top:10px;
    }
    #novosti{
        width:100%;
    }
    header{
        padding:10px 5px;
    }
   #slika{
       width:50%;
   }
   #tekstUnutraSlike{
       font-size:6px;
       top:30%;
   }
   .margina{
       margin-bottom: 5px;
   }
   nav ul li a{
       font-size:15px;
   }
   .vid i{
       font-size:22px;
   }
   #novosti{
       font-size:13px;
   }
   .hr-tekst:after{
       font-size:15px;
   }
   #pretragaKnjiga input[type="search"]{
       font-size:12px;
   }
   .artikl h3{
    font-size: 18px;
    }
  .artikl h4{
    font-size: 16px; 
   }
   
  
   
}

